<div>
  <h3>Notification Service and Data Scraping</h3>
  <form>
    <div class="col-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="API URL" id="input" aria-label="API URL"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" style=background-color:rgb(0,162,255) type="button"
            (click)=submitUrl() type="reset" value="reset">Submit Url</button>
        </div>
      </div>
      <div>
        URL entered was: {{url}}
      </div>
      <div style="color:red">
        {{errorMessage}}
      </div>
      <div>
        {{backendMessage}}
      </div>
      <div>
        <button class="btn btn-outline-secondary" style=background-color:rgb(0,162,255) type="button"
        (click)=submitCheckboxes() type="reset" value="reset">Submit Check Boxes</button>
      </div>
      <div class="form-check" *ngFor="let tableId of tableIds">
        <input class="form-check-input" type="checkbox" value="" id=tableId (click)=append(tableId)>
        <label class="form-check-label" for="flexCheckDefault">
          {{tableId}}
        </label>
      </div>
      <div class="form-check" *ngFor="let divId of divIds">
        <input class="form-check-input" type="checkbox" name="checkboxName" value="" id=divId
          (click)=append($event,divId)>
        <label class="form-check-label" for="flexCheckDefault" name="">
          {{divId}}
        </label>
      </div>
    </div>
  </form>
</div>