<div>
  <h3>Notification Service and Data Scraping</h3>
  <form>
    <div class="col-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="API URL" id="input" aria-label="API URL"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" style=background-color:rgb(0,162,255) type="button" (click)=submit()
            type="reset" value="reset">Submit</button>
        </div>
      </div>
      <p>URL entered was: {{url}}</p>
      <div class="form-check" *ngFor="let tableId of tableIds">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          {{tableId}}
        </label>
      </div>
      <div class="form-check" *ngFor="let divId of divIds">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          {{divId}}
        </label>
      </div>
    </div>
  </form>
</div>