

<div  class="container" >
    <button (click)="fetchProcess()" class="btn btn-primary  btn-block"> Get Window Process </button>
</div>
   




<form (ngSubmit)="onSubmit()">

<div class=container>
   
 <div class="bg-light">
<table class="table">
    <thead>
      <tr>
        <th>Selected</th>
        <th>Process ID</th>
        <th>Process Name</th>
      </tr>
    </thead>
    <tbody  *ngFor="let proc of listProcess">
      <tr>
          <td><input  type="checkbox" name="{{proc.p_name}}" (change)="onChange()" [(ngModel)]= "proc.selected"></td>
        <td>{{ proc.pid }}</td>
        <td>{{ proc.p_name }}</td>
     </tr>            
    </tbody>
</table>
</div>

<div class="container" *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = true">
<button type="submit" class="btn btn-primary  btn-block" > Save </button>
</div>


</div>
</form>






<div class=container>

  <table class="table">
    
    <tbody  *ngFor="let mess of listProcessMessage">
      <tr>
        <td>{{mess.p_name}}</td>
        
     </tr>            
    </tbody>
</table>


</div>

